<!DOCTYPE html>
<html lang="en">

<head>
    <!------------------     Title    ------------------>
    <title>Med Manager</title>
    <link rel="icon" href="/container/static/images/logo.svg" type="image/x-icon" />

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!------------------     Style-Sheet    ------------------>
    <link rel="stylesheet" href="/container/static/css/login.css" />
</head>

<body>
    <div class="container">
        <!------------------     Login Form    ------------------>
        <div id="login-form" class="login-form">
            <!-------     TITLE   ------->
            <h2>― Login ―</h2> 

            <!-------     FORM   ------->
            <form action="POST" enctype="multipart/form-data">
                <p>
                    <label><input placeholder=" Email" type="text" id="login-email" name="login-email" /></label>
                </p>
                <p>
                    <label><input placeholder=" Password" type="password" id="login-password" name="login-password" /></label>
                </p>
                <p>
                    Don’t have an account?
                    <a href="#" onclick="toggleLogin()">Register here.</a>
                </p>
                <p id="err-message-login" class="error">

                </p>
                <p>
                    <button id="login-submit" class="purple-btn" type="submit">Login</button>
                </p>
            </form>
        </div>

        <!------------------     Register Form    ------------------>
        <div id="register-form" class="register-form">
            <!-------     TITLE   ------->
            <h2>― Register ―</h2>
            
            <!-------     FORM   ------->
            <form action="POST" enctype="multipart/form-data">
                <p>
                    <label><input placeholder=" First Name" type="text" id="fname" name="fname" required /></label>
                </p>
                <p>
                    <label><input placeholder=" Last Name" type="text" id="lname" name="lname" required /></label>
                </p>
                <p>
                    <label><input placeholder=" Email" type="text" id="email" name="email" required /></label>
                </p>
                <p>
                    <label><input placeholder=" Phone Number" type="text" id="phone" name="phone" required /></label>
                </p>
                <p>
                    <label>
                        <select name="user-type" id="user-type">
                        <option value="" selected>- Select User Type -</option>
                        <option value="patient">Patient</option>
                        <option value="doctor">Doctor</option>
                      </select>
                    </label>
                </p>
                <p>
                    <label><input placeholder=" Password" type="password" id="password" name="password" required /></label>
                </p>
                <p>
                    <label><input placeholder=" Confirm Password" type="password" id="confirm-password" name="confirm-password" required /></label>
                </p>
                <p>
                    Already have an account?
                    <a href="#" onclick="toggleLogin()"> Login. </a>
                </p>
                <p id="err-message-register" class="error">

                </p>
                <p>
                    <button id="register-submit" class="purple-btn" type="submit">Register</button>
                </p>
            </form>
        </div>

        <!------------------     Form Design    ------------------>
        <div class="form-design">
            <img src="/container/static/images/hero-img.png" alt="hero image" />
        </div>
    </div>

    <script src="/container/static/js/login.js"></script>
</body>

</html>