<!DOCTYPE html>
<html lang="en">

<head>
    <!------------------     Title    ------------------>
    <title>Med Manager</title>
    <link rel="icon" href="/container/static/images/logo.svg" type="image/x-icon" />

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!------------------     Style-Sheet    ------------------>
    <link rel="stylesheet" href="/container/static/css/patient-dash.css" />

    <!------------------     Font-Awesome    ------------------>
    <script src="https://kit.fontawesome.com/83715fa62b.js" crossorigin="anonymous"></script>

    <!------------------     Chart.js    ------------------>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.2.1/dist/chart.min.js"></script>
</head>

<body>
    <!------------------     Sidebar Container    ------------------>
    <div class="nav-container">
        <!-------     LOGO   ------->
        <div class="nav-logo">
            <img src="/container/static/images/logo.svg" alt="logo">
        </div>

        <!-------     LINKS   ------->
        <div class="nav-items">
            <ul class="main-items">
                <li>
                    <a href="patient-dash.html">
                        <i class="fas fa-home"></i>
                    </a>
                </li>
                <li>
                    <a href="patient-appointment.html">
                        <i class="fas fa-thumbtack"></i>
                    </a>
                </li>
                <li>
                    <a href="patient-settings.html">
                        <i class="fas fa-cog"></i>
                    </a>
                </li>
            </ul>

            <ul class="secondary-items">
                <li>
                    <div class="user-icon">
                        <span>KA</span>
                    </div>
                </li>
                <li>
                    <a href="#" onclick="logout()">
                        <i class="fas fa-sign-out-alt"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <!------------------     Content Container    ------------------>
    <div class="content-container">
        <!-------     MAIN TITLE   ------->
        <div class="page-title">
            <h1>DASHBOARD</h1>
            <h4>
                <i class="far fa-calendar"></i>
                <span id="date">Monday, 09.01.2021</span>
            </h4>
        </div>

        <!-------     CONTENT   ------->
        <div class="page-content">

            <!---------------     LEFT   --------------->
            <div class="content-left">

                <!-------     CHARTS   ------->
                <h3>Quick Analytics</h3>

                <div class="charts">
                    <div class="chart-1">
                        <h5>Appointment Status (Bar)</h5>
                        <canvas id="chart-1"></canvas>
                    </div>

                    <div class="chart-2">
                        <h5>Appointment Status (Pie)</h5>
                        <canvas id="chart-2"></canvas>
                    </div>
                </div>

                <!-------     TABLE   ------->
                <h3>Appointments</h3>

                <div class="appointment-table">
                    <table id="appointment-table">  </table>
                </div>
            </div>

            <!---------------     RIGHT   --------------->
            <div class="content-right">
                <div class="upcoming-container">
                    <!-------     TITLE-3   ------->
                    <h2>UPCOMING <br> APPOINTMENTS</h2>

                    <div class="upcoming"> </div>
                    <div class="add-button">
                        <button onclick="window.location.href='patient-appointment.html'" class="purple-btn">New Appointment</button>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <script src="/container/static/js/patient-dash.js"></script>
</body>

</html>