@import "dash-base.scss";

body {
  background-color: $just-white;
}

/*          DESKTOP          */
/*     MAIN CONTENT     */
.content-container {
  .page-content {
    h3,
    h2 {
      text-align: center;
      margin-bottom: 1rem;
    }

    // CONTENT
    .content {
      padding-right: 2.5rem;

      // TABLE
      .patient-table {
        border-radius: 1.25rem;
        padding: 1rem;
        //background-color: $just-white;
        background-color: $almost-white;

        table {
          border-collapse: collapse;
          width: 100%;

          tr {
            text-align: left;
            padding: 0.5rem;
            border: solid;
            border-width: 3px 0;
            border-color: $almost-grey;
          }

          thead {
            tr {
              font-weight: 600;
              border-top: none;
            }
          }

          tbody {
            tr {
              border-top: none;

              .purple-btn {
                font-size: $mobile-size-4;
                padding: 0.5rem;
                font-weight: 500;
                border-radius: 0.625rem;
              }

              .purple-btn:hover {
                opacity: 0.75;
              }
            }

            tr:hover {
              background-color: $almost-grey;
            }
          }
        }
      }
    }
  }
}

.content-container#blur.active {
  filter: blur(20px);
  pointer-events: none;
  user-select: none;
}

.popup {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 325px;
  border-radius: 1.25rem;
  padding: 2rem;
  box-shadow: 0px 6px 18px 0px $almost-grey;
  background: $just-white;
  display: hidden;
  opacity: 0;
  transition: 0.5s;

  h5 {
    padding-bottom: 2rem;
  }

  .back-btn {
    cursor: pointer;
  }

  .back-btn:hover {
    color: $evening-purple;
  }
}

.popup#popup.active {
  top: 50%;
  visibility: visible;
  opacity: 1;
  transition: 0.5s;
}
