@import "dash-base.scss";

body {
  background-color: $just-white;
}

/*          DESKTOP          */
/*     MAIN CONTENT     */
.content-container {
  .page-content {
    display: grid;
    grid-template-columns: 70% auto;

    h3,
    h2 {
      text-align: center;
      margin-bottom: 1rem;
    }

    // (LEFT) CONTENT
    .content-left {
      padding-right: 2.5rem;

      // CHARTS
      .charts {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 3rem;

        .chart-1,
        .chart-2 {
          border-radius: 1.25rem;
          height: 225px;
          max-height: 100%;
          padding: 1rem;
          //background-color: $just-white;
          background-color: $almost-white;
          text-align: center;
        }

        .chart-1 {
          width: 55%;
        }

        .chart-2 {
          width: 35%;
        }
      }

      // TABLE
      .appointment-table {
        border-radius: 1.25rem;
        padding: 1rem;
        //background-color: $just-white;
        background-color: $almost-white;

        table {
          border-collapse: collapse;
          width: 100%;

          tr {
            text-align: left;
            padding: 0.5rem;
            border: solid;
            border-width: 3px 0;
            border-color: $almost-grey;
          }

          thead {
            tr {
              font-weight: 600;
              border-top: none;
            }
          }

          tbody {
            tr {
              border-top: none;
            }

            tr:hover {
              background-color: $almost-grey;
            }
          }
        }
      }
    }

    // (RIGHT) CONTENT
    .content-right {
      padding-left: 2.5rem;

      .upcoming-container {
        border-radius: 1.25rem;
        padding: 1rem;
        //background-color: $just-white;
        background-color: $almost-white;

        .upcoming {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;

          .upcoming-card {
            margin-bottom: 1rem;
            width: 100%;
            border-radius: 1.25rem;
            padding: 1rem;
            background-color: $almost-grey;

            h5 {
              text-align: center;
              font-weight: 600;
              padding-bottom: 0.5rem;
            }
          }

          .upcoming-card:last-child {
            margin-bottom: 4rem;
          }
        }

        .add-button {
          text-align: right;
        }
      }
    }
  }
}
